/* 4- External CSS, integração. */
.External{
    color: black;
    background-color: tomato;
    font-size: 50px;
}
p{
    font-size: 35px;
}
div{
    /* font-size: 35px; */
    margin: 10px;

}


/* 5- Comentários no CSS */

/* 7-Classes e ID's */
.paragraph{
    color: #000;
    background-color: aqua;
    padding: 3px;
}

/* 8- ID's (sempre se utiliza # ao invés do . para declarar algo no css com ID)*/
#título-exclusivo{
    background-color: purple;
    color: yellow;
    padding: 10px;
}
/* 9- Ordem das classes */
h2{
    border-bottom: 2px solid red;
}
.Título{
    border-bottom: 3px solid blue;
}
#Algum-título{
    border-bottom: 4px solid green;
}
/* 10- Nome de cores */
.ColorName{
    color: darkslateblue;
    font-size: 40px;
}
.hexadecimal{
    color: #a539a5;
}
.simples-hex{
    color: #fff;
    background-color: #000
}
/* 11- RGB */
.RGB{
    color: rgb(255, 0, 0);
}
.Mixer-RGB{
    color: rgb(40, 179, 167);
}
/* 12- RGBa (quanto maior o número, menor a opacidade) */
.RGBa{
    color: rgb(112, 114, 8, 0.2) 
}

/* 13- HSL (hue, saturation, lightness) */
.HSL{
    color: hsl(100, 76%, 31%);
}
.HSL-2{
    color: hsl(60, 42%, 22%);
}

/* 14- Background-Color */
.background-color{
    background-color: #a539a5;
}
.background-color-2{
    background-color: #000;
    color: #d43030;
}
/* 17- Background-Opacity */
.BG-Opacity{
    background-color: green;
    opacity: 0.3;
}
.BG-Opacity-2{
    background-color: lightpink;
    opacity: 0.7;
}
/* 18- RGBa Com opacidade (muda a opacidade do background) */
.RGBa-Opacity{
    background-color: rgba(90, 120, 20, 0.2);
    color: #000
}
/* 19- Background Image */
.bg-image{
    background-image: url(../2_CSS/img/CéuEstrelado.jpg);
    padding: 10px;
    color: white;
}
/* 20- Centralizando Bg-Image */
/* Height- Altura
   Width- Largura */
.not-centered-bg, 
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url(../2_CSS/img/Imagem\ Por\ do\ SOl.avif) ;
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* 22- Largura e altura */
/* retângulo */
.height-width {
    height: 200px;
    width: 100px;
    background-color: #d43030
}
.height-width-2 {
    height: 200px;
    background-color: #a539a5;
}
/* 23- Padding */
.without-padding,
.withpadding {
    background-color: #000;
    color: white;
}
.withpadding {
    padding: 20px;
    background-color: #333;
}
/* 24- padding individual */
.padding-indivual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.shorthand-padding{
    background-color: #555;
    padding: 6px 12px 18px 24px;
}
/* 26- Padding com width */
/* respeita o tamanho total (dois exemplos: um sem e um com) */
/* ele canaliza a largura e divide entre as partes. */
.without-border-box{
    background-color: #4444;
    color: #FFF;
    width: 400px;
    padding: 50px;   
}
.border-box{
    background-color: #444;
    color: #FFF;
    width: 400px;
    padding: 50px;  
    box-sizing: border-box;
}
/* 27- bordas. tamanho, aparência e cor */
.border{
    border: 5px solid red;
    padding: 10px;
}
.border2{
    border: 2px dotted blueviolet;
    padding: 20px;
}
/* 28- Borda individual */
.border-left{
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
    color:white
}
.border-bottom{
    border-bottom: 5px double green;
}
/* 29- Borda arredondada */
.border-radious{
    border: 4px solid black;
    width: 600px;
    background-color: rgba(59, 216, 20, 0.555);
    padding: 30px;
    color: white;
    border-radius: 20px;
}
.border-radious2{
    border: 4px double blue;
    border-radius: 30px;
    color: #000;
    background-color: #d48;
    padding: 30px;
}

/* 30- Margem */
/* Pode-se notar a diferença entre padding e margem neste cenário */
.margin{
background-color: #444;
margin: 10px;
}
.margin-top{
margin-top: 50px;
background-color: #555;
padding: 10px;
}
.margin-shorthand{
background-color: violet;
padding: 10px 20px 30px 40px;
width: 800px;
}
/* O padding pode ser feito deste jeito:
Padding: 10px 10px 10px 10px; (Ou seja, 10 pixels pra todos os lados)
ou
Padding: 15px 25px; (Ou seja, 15 para baixo e cima e 25px para laterais)*/
.box-model{
    margin: 30px;
    padding: 15px 25px;
    border: 3px solid #864;
    border-radius: 7px;
    width: 200px;
    height: 250px;
}
/* 32- text align */
.text-align{
    text-align: right;
}
.text-align-center{
    text-align: center;
}
.text-align-left{
    text-align: left;
}
/* 33- text decoration */
.underline{
    text-decoration: underline;
}
.line-though{
    text-decoration: line-through;
}
.remove-underline{
    text-decoration: none;
    color: red;
}
/* 34- uppercase */
.upper{
    text-transform: uppercase;
}
.lower{
    text-transform: lowercase;
}
/* 35- Letter Spacing */
.LetterSpacing{
    letter-spacing: 10px;
}
/* 36- Fontes */
.fonte1{
    font-family: 'Times New Roman', Times, serif;
}
.fonte2{
    font-family: Arial, Helvetica, sans-serif;
}
.fonte3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* 37- Font- style */
.font-style-normal{
    font-style: normal;
}
.font-style-italic{
    font-style: italic;
}
.font-style-oblique{
    font-style: oblique;
}
/* 38- Font Weight */
.thin, .bold, .bolder{
    font-family: Helvetica;
}
.thin{
    font-weight: 100;
}
.bold{
    font-weight: 600;
}
.bolder{
    font-weight: 900;
}

/* 39- Font-size */
.small{
    font-size: 6px;
}
.big{
    font-size: 78px;
}
/* 40- Display */
.inline-box{
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    /* Inline block faz com que as divs fiquem em sequencia de esquerda para direita, diferente de seu comportamento
    padrão. (cima para baixo) */
    display: inline-block;
}

.block{
    display: block;
    margin: 10px;
    background-color: #4f8;
}
/* 41- Escondendo elementos */
.invisible{
    display: none;
}
/* 43 - Static*/
.static{
    position: static;
    background-color: #391;
    color: #fff;
    width: 100px;
    height: 100px;
}
/* 44- Relative */
.relative{
    position: relative;
    background-color: #171bd8;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 40px;
}

/* 45- Absoluto */
.absolute{
    position: absolute;
    background-color: #d81717;
    color: #fff;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}
.relative-container{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 50px;
    position: relative;
}
.absolute1, .absolute2{
    width: 50px;
    height: 50px;
    background-color: rgb(65, 42, 20);
    position: absolute;
}
.absolute1{
    top: 10px;
    left: 10px;
}
.absolute2{
    bottom: 10px;
    right: 10px;
}
/* 47- Position fixed */
.fixed{
    width: 100px;
    height: 100px;
    background-color: #705808;
    border: 1px solid blue;
    margin-top: 50px;
    position: fixed;
    top: 50px;
    right: 100px;
}
.sticky{
    width: 100px;
    height: 100px;
    background-color: #39fa12;
    border: 1px solid rgb(82, 143, 24);
    margin-top: 50px;
    position: sticky;
    top: 10px;
}
/* 49- Z- index */
.absolute-3, .absolute-4, .absolute-5{
    width: 50px;
    height: 50px;
    background-color: #123;
    position: absolute;
    
}
.absolute-3{
    top: 0px;
    left: 0px;
    z-index: 3;
}
.absolute-4{
    top: 10px;
    left: 10px;
    background-color: #246;
    z-index: 2;
}
.absolute-5{
    top: 30px;
    left: 30px;
    background-color: #456;
    z-index: 1;
}